/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');


font-family: 'Open Sans', sans-serif;
*/


/* font-family: 'Open Sans Condensed', sans-serif; */


/* font-family: 'Open Sans Condensed', sans-serif; */


/* General */


/* body {
    overflow-x: hidden;
} */


/* .container{
    background-color: black;
    height: 300px;
} */


/* .container-fluid{
    background-color: black;
    height: 300px; 
} */

body {
    overflow-x: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
}

.global-div {
    position: relative;
    float: left;
    width: 100%;
}

.index-slide img,
.index-slide {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.index-slide {
    z-index: -1;
}

.index-slide {
    width: 100% !important;
}

.carousel-inner img {
    width: 59% !important;
    height: auto;
    margin: 0 20%;
}

.social-network .fa-stack.fa-lg {
    color: white
}

.social-network .fa-inverse {
    color: black;
}

.left-shadow {
    top: 0;
    z-index: 0;
    position: absolute;
    left: -10px;
}

.right-shadow {
    /* right: -10%; */
    top: 0;
    z-index: -1;
    position: absolute;
    right: -10px;
}

.social-network .phone p:nth-child(2) {
    color: #c4d52d;
    margin-bottom: 0;
}

.social-network .phone p:nth-child(3) {
    color: white;
}

.text-social p:first-child {
    color: white;
    margin-bottom: 0;
}

.social {
    float: left;
    width: 100%;
    position: absolute;
    margin-top: 60px;
}

.img-phone {
    float: left;
}

.text-social {
    float: left;
    margin-left: 20px;
}

.icons {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.logo-header {
    text-align: left;
    padding-left: 170px;
}

.logo-header img {
    width: 300px;
}

.logo-header p {
    color: white;
    font-size: 18px;
    /* text-align: justify; */
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: normal;
}

.logo-header p:nth-of-type(1) {
    color: #c4d52d;
    font-size: 26px;
    font-weight: bold;
}

.logo-header p:nth-of-type(3) {
    margin-bottom: 15px;
}

.logo-header a:last-child {
    color: black;
    border-bottom: 5px solid #747e1a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.logo-header a:hover {
    text-decoration: none;
}

div.logo-header.col-sm-6 a {
    background-color: #c4d52d;
    padding: 10px;
}


/* nav */

.home-nav {
    float: left;
    width: 100%;
}

.home-nav nav {
    background-color: #b3c228 !important;
}

.home-nav nav .container li {
    margin-right: 30px;
}

.home-nav nav .container li a {
    color: white !important;
    font-size: 24px;
}

.home-nav form input {
    border-radius: 25px;
    width: 300px !important;
}

.home-nav form button {
    position: relative;
    background-color: black;
    /* background-image: url("../img/top-menu-search.png"); */
    /* background-repeat: no-repeat; */
    height: 40px;
    width: 40px;
    left: -50px;
    border-radius: 0 25px 25px 0;
}

.home-nav form button img {
    position: absolute;
    right: 10px;
    top: 10px;
}


/* blog */

.blog-anna .col-md-6 img,
.blog-anna {
    float: left;
    width: 100%;
}

.blog-anna .col-md-6 {
    float: left;
}

.blog-anna .blog-info p {
    font-size: 26px;
    text-transform: uppercase;
    color: #ffff;
}

.blog-anna .first-blog {
    position: relative;
}

.blog-anna .first-blog .blog-info {
    background-color: rgba(32, 35, 55, 0.5);
    padding: 30px 30px;
    position: absolute;
    width: 95%;
}

.blog-anna .second-blog .blog-info {
    background-color: rgba(129, 172, 59, 0.5);
    padding: 30px 30px;
    position: absolute;
    width: 95%;
}

.blog-anna {
    margin-top: 60px;
}

.blog-anna .blog-info i.fa.fa-arrow-right {
    float: right;
}

.blog-data {
    float: left;
    width: 100%;
    margin-top: 60px;
}

.blog-data .col-md-4 {
    float: left;
}

.blog-data .col-md-4 h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 37px;
}

.blog-data .col-md-4 h3 i {
    /* float: right; */
    color: #8cc63f;
    font-size: 20px;
}

.blog-info-data iframe {
    height: 250px;
    width: 100%;
}

.blog-info-data h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 30px;
    font-weight: bold;
}

.blog-info-data p {
    font-size: 17px;
    font-weight: normal;
    margin-top: 20px;
}

.blog-info-data i.fa {
    margin-right: 10px;
}

.blog-info-data span.nomber {
    margin-right: 20px;
}

.blog-info-data i.fa-heart {
    color: #cc0066;
}

.blog-info-data span:first-child {
    color: green;
}

ol.dugmici-slider {
    position: absolute;
    bottom: 40%;
    left: 40%;
}

div.blog-data {
    margin-bottom: 120px;
}


/* instagram */

.instagram-anna {
    float: left;
    width: 100%;
    background-color: #363636;
}

.instagram-anna .container {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

.instagram-anna .container div.inst-flag {
    margin-top: -30px;
}


/* .instagram-anna .container .owl-carousel div img {
    height: 150px;
    width: 180px;
}

.instagram-anna .owl-item {
    width: 200px !important;
} */

.instagram-anna .item img:first-child {
    margin-bottom: 20px;
}

.instagram-anna .owl-nav button.owl-prev {
    position: absolute;
    bottom: 50%;
    color: white;
    left: -60px;
    background-image: url('../img/instagram-left-arrow.png');
    width: 50px;
    height: 50px;
}

.instagram-anna .owl-nav button.owl-next {
    color: #ffff;
    position: absolute;
    bottom: 50%;
    color: white;
    right: -60px;
    width: 50px;
    height: 50px;
    background-image: url('../img/instagram-right-arrow.png');
}

footer {
    background-color: #9db92b;
    width: 100%;
    float: left;
    /* Dodao samwidth 100 posto i float left*/
}

.anna-footer {
    float: left;
    width: 100%;
    margin-top: 40px;
}

.anna-footer a.see {
    float: right;
}

footer .anna-footer p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 17pt;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

footer .anna-footer li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14pt;
    list-style-type: none;
    margin-bottom: 25px;
}

footer .anna-footer li a {
    color: #fff;
}


/* footer
/*pomjerio sam crnu pozadinu, virila je bijela ispod

button,
input,
optgroup,
select,
textarea {
    margin: 3px;
}

*/


/*izinmitirao sam bijelu liniju ispod, 
dao joj boju izmjerio visinu i dodao margin-top -13px */

.anna-footer hr {
    background-color: white;
    width: 180px;
    float: left;
    margin-top: -13px;
}


/*na kraju sam skontao da footer nije u kontrjneru, ne znam ko je stavio, ja ili ti ali je 
2 ujutro, ne mogu sad razmisljati hahaah*/

.anna-footer .container {
    padding-right: 0;
    padding-left: 0;
}

.anna-footer .col-sm-2,
.anna-footer .col-sm-3,
.anna-footer .col-sm-5 {
    padding-right: 0;
    padding-left: 0;
}

.anna-footer ul {
    padding-left: 0;
}